@model IQueryable<PhC.App.Models.ViewModels.ContestConciseViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class=" col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">ACTIVE CONTENTS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-12">

                        @Html.DisplayForModel()

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Displays:</h2>
        <p>public:</p>
        <p>list of all active contests</p>
        @Html.ActionLink("Contest Title 1", "Details", "Contest", routeValues: new { area = "" }, htmlAttributes: null)
        @Html.ActionLink("Contest Title 2", "Details", "Contest", routeValues: new { area = "" }, htmlAttributes: null)
    </div>
    <div class="col-md-4">
        <h2>Functionslity</h2>
        <p>- upon clicking a contest, => GO to the CONTEST DETAIL PAGE - PUBLIC </p>
        <p>- link to PAST CONTESTS(public) => GO to the PAST CONTESTS PAGE(public) </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>DONE FUNCTIONALITY</h2>
       <p>- link to REGISTER USER PAGE </p>
        <p>- link to  LOGIN USER PAGE </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>

</div>