@{
    ViewBag.Title = "Details";
}

<h2>Detailed Contest View- PUBLIC</h2>
<p>Contest.Title</p>
<p>Contest.Description</p>
<p>Contest.Creator</p>
<p>Contest.Entries</p>
<p>If Contest.VotingStrategy == Open => ForEachContestStrategy display Button VOTE</p>
<p>Note: anonimus can VOTE many times for many Entries</p>
<p>      users can VOTE 1 time for many Entries</p>

