@model IQueryable<PhC.App.Models.ViewModels.ContestConciseViewModel>

<div class="row">
    <div class=" col-md-12">

        @Html.DisplayForModel()

        <button class="btn btn-default">
            @Html.ActionLink(
                "Previous Page",
                "Index",
                "Home",
                routeValues: new { page = (ViewBag.pageNumber - 1) < 1 ? 1 : (ViewBag.pageNumber - 1), type = ViewBag.type },
                htmlAttributes: null)
        </button>

        @if (Model.Count()>=5)
        {
        
            <button class="btn btn-default">
                @Html.ActionLink(
                "Next Page",
                "Index",
                "Home",
                routeValues: new { page = (ViewBag.pageNumber + 1), type = ViewBag.type },
                htmlAttributes: null)
            </button>
        }
       
    </div>
</div>